@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";
@plugin "daisyui";

/* your custom daisyUI theme */
@plugin "daisyui/theme" {
  name: "customdark";
  default: false;
  prefersdark: true;

  --color-base-100: #1F1A3D;
  --color-base-200: #2C224F;
  --color-base-300: #3A2B63;

  --color-primary: #9B2CFD;
  --color-primary-content: #FFFFFF;

  --color-secondary: #E91E63;
  --color-secondary-content: #FFFFFF;

  --color-accent: #4F8CF7;
  --color-accent-content: #FFFFFF;

  --color-neutral: #2E1F4C;
  --color-neutral-content: #FFFFFF;

  --color-info: #3F78F8;
  --color-info-content: #FFFFFF;

  --color-success: #22C55E;
  --color-success-content: #FFFFFF;

  --color-warning: #F59E0B;
  --color-warning-content: #FFFFFF;

  --color-error: #EF4444;
  --color-error-content: #FFFFFF;
}

/* .active{
  /* border-bottom: 1px solid #9B2CFD; */
/* }  */

html, body {
   font-family: "Poppins", sans-serif;
   /* background: black !important; */
}

.navlink:hover{
   border-bottom: 1px solid #9B2CFD;
    transition: all 0.3s ease-in-out;
  /* background: #000; */
}